.body{
    margin: 0;
}

#cy {
    height: 67vh;
    margin-top:30px;
    width: 100%;
    border-style: solid;
}


.title {
    text-align: center;
}

#top-elements {
    margin-bottom: 60px;
}

#entryName {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px; 
    height: 20px;
    width: 150px;
}

.hidden {
    display: none;
}

.nav-history-button{
    background-color: white;
    font-weight: 550;
    color: rgb(3, 169, 244);
    border-radius: 50px;
    border: 0px;
}

.nav-history-button:hover{
    background-color: white;
    font-weight: 700;
    color: rgb(3, 1, 140);
    border-radius: 50px;
    border: 0px;
}

.nav-history-button.selected{
    background-color: white;
    font-weight: 550;
    color: rgb(255, 105, 180);
    border-radius: 50px;
    border: 0px;
}

.nav-history-button.selected:hover{
    background-color: white;
    font-weight: 700;
    color: rgb(170, 51, 106);
    border-radius: 50px;
    border: 0px;
}

#show-nav {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px; */
    grid-template-rows: 40px 40px 40px;
    float: right;
    text-align: center;
    margin-right: 70px;
}

.show-nav-button{
    font-size:15px; 
    color:rgb(0, 170, 255);
    border-width:0px;
    border-color: rgb(173, 216, 230);
    border-radius: 50px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: 2px;
}

.show-nav-button:hover{
    font-size:15px; 
    background-color: rgb(212, 241, 244);
    color:rgb(0, 170, 255);
    border-width:1px; 
    border-color: rgb(173, 216, 230);
    border-radius: 50px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: 2px;
}

.show-nav-button.selected{
    font-size: 15px; 
    background-color: #f08080;
    color:#fff3f4; 
    border-width:0px; 
    border-radius: 50px;
    font-weight: 600;
    width:140px;
    height: 40px;
    text-align: center;
    margin: 2px;
}

/* grid boxes for nav buttons*/

/* row1 */
.row1-col1 {
    grid-column: 1;
    grid-row: 1;
}

.row1-col2 {
    grid-column: 2;
    grid-row: 1;
}

.row1-col3 {
    grid-column: 3;
    grid-row: 1;
}

.row1-col4 {
    grid-column: 4;
    grid-row: 1;
}

.row1-col5 {
    grid-column: 5;
    grid-row: 1;
}

/* row2 */
.row2-col1 {
    grid-column: 1;
    grid-row: 2;
}

.row2-col2 {
    grid-column: 2;
    grid-row: 2;
}

.row2-col3 {
    grid-column: 3;
    grid-row: 2;
}

.row2-col4 {
    grid-column: 4;
    grid-row: 2;
}

.row2-col5 {
    grid-column: 5;
    grid-row: 2;
}

/* row3 */
.row3-col1 {
    grid-column: 1;
    grid-row: 3;
}

.row3-col2 {
    grid-column: 2;
    grid-row: 3;
}

.row3-col3 {
    grid-column: 3;
    grid-row: 3;
}

.row3-col4 {
    grid-column: 4;
    grid-row: 3;
}

.row3-col5 {
    grid-column: 5;
    grid-row: 3;
}